@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
/* not necessary */
/* bluegrey matter   #637f80 light  #536872  #708090  #536878  #36454f dark */

body{
	font-size: 20px;
	font-family: "Sansita", Ubuntu, sans-serif;
}

/* phone or baseline views **************************/
header,
footer {
	background-color: rgb(187, 218, 238);
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
    border-radius: 10px;
}

header,
nav,
main,
footer {
	max-width: 900px;
	margin: 0 auto;
}
h1 {
	font-size: 1.1rem;
}
h2 {
	color: #536878;
}

nav {
	background-color: #36454f;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	background: linear-gradient(90deg, transparent, yellow, transparent) top / var(--d, 0) 10px no-repeat;
  transition: 0.5s;
}
nav a:hover {
	background-color: #bbb;
	color: #36454f; 
	
}
.active {
	
}
main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}
main article {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #eee;
}
main picture {
	display: none;
	margin: 0.5rem;
}

footer {
	border-radius: 15px;
}

header img {
    
    width: 200px;
    height: auto ;
}
header h2 h3 {
    margin: auto;
}
#body-simple {
	
	font-size: 19px;
	font-family: "Sansita", Ubuntu, sans-serif;
	text-align: center;

}
#header-sample {
	font-size: 19px;
	font-family: "Sansita", Ubuntu, sans-serif;
	background-color: rgb(187, 218, 238);
	text-align: center;
}
#ul-sample{
	font-size: 19px;
	font-family: "Sansita", Ubuntu, sans-serif;
	background-color: #36454f;
	text-align: center;
	color: #fff;
}
#id-sample{
	font-size: 20px;
	font-family: "Sansita", Ubuntu, sans-serif;
	background-color: rgb(187, 218, 238);
	text-align: center;
	color: black;
}
#h2-sample{
	font-size: 19px;
	font-family: "Sansita", Ubuntu, sans-serif;
	
	text-align: center;
	color: #536878;
}
#color-header-footer{
	background-color: rgb(187, 218, 238);
	border: 1px solid #bbb;
	text-align: center;
}
#color-nav-ul {
	background-color: #36454f;
	text-align: center;
	color: #fff;
}