@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
@media only screen and (min-width: 940px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        max-width: 100%;
        font-size: 1.5em;
    }
    
    main section:nth-child(3) {
        grid-column: 1 / 2;
    
    }
    
    main section:nth-child(3) {
        grid-column: 2 / 3;
    }
    
    main section:nth-child(3) {
        grid-column: 3 / 4;
        grid-row: 1;
    }
    
    }