/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
    nav {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3f4c6b+0,3f4c6b+100;Blue+Grey+Flat */
background: #3f4c6b; /* Old browsers */
background: -moz-linear-gradient(top,  #3f4c6b 0%, #3f4c6b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #3f4c6b 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */


        
    }
    nav button {display: none;}
    nav ul.hide {display: block;}
    nav ul {
        margin-left: 2%;
    }
    nav ul li {
        float: left;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 3) ;
        padding: .8rem 1rem;
    }
	
	header,
	footer {
	background-color: rgb(241, 245, 207);
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
    border-radius: 10px;
}

	header,
	nav,
	main,
	footer {
	max-width: 900px;
	margin: 0 auto;
}


    /* Tablet Views ******************************/

	
    header {
		display: grid;
		grid-template-columns: repeat(2, auto);
	}
	h2{
		padding: 10px;
	}
    h1 { font-size: 1.5rem;}
	
	

/*******************************************************/
	
	nav a {
		font-size: 1rem;
	}


	
	
	article:nth-child(3) {
		grid-column: span 2;
	}
	article img {
		float: left;
		width: 50%;
		margin: 0 1rem 0.5rem 0;
	}
	main picture {
		display: block;
	}
	main picture img {
		width: 100%;
		height: auto;
		border: 1px solid rgb(241, 228, 228);
	}
	



    header img {
		width: 100%;
	}

	.headings h1 {
		font-size: 3rem;
	}

	.m {
		letter-spacing: 1.5pt;
		font-size: larger;
		margin-left: 17px;
	}


	
/*overlay*/
	main {max-width:820px;margin:0 auto;}
	h1 {text-align: center;font-size:2.5rem;text-shadow:3px 3px 5px #777;}

	.herocontainer {margin: 10px auto; position: relative;}
	h1, h2, p {margin: 0;}

	.weather {
		position: absolute;
		top: 5px;
		right: 10px;
		background: radial-gradient(rgb(228, 199, 199), #93b5f8);
		border: 1px solid #000;
		padding: 1.5rem;
		box-shadow: 0 0 30px rgb(73, 26, 26);
		opacity: .9;
	}

	.column {
		visibility:visible;
		column-count: 6;
		column-gap: 0;
	}
	.column img {
		display: block;
		width: 50%;
	}
	.column-col {
		display: block;
		background-color: #abe;
	}
	

	.container {
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }


	.Day-forecast {
        display: block;
        text-align: center;
        font-family: var(--paragraph-font);
    }
    .Day-forecast table, th, td {
        border: 1px solid rgb(26, 23, 240);
        border-collapse: collapse;
        padding: 1em;
    }
    .Day-forecast table {
        margin-left: auto;
        margin-right: auto;
    }
    th {
        background-color: #BFD7ED;
    }
    br.responsive {
        display: none;
    }
    .foundersDay {
        float: right;
        margin-right: .5em;
        margin-left: .7em;
    }

	#Grid-forecast {
        border: 1px solid #13151a;
        grid-template-columns: repeat(5, 1fr);
    }
    #Grid-forecast section {
        border: 1px solid #08090c;
        grid-column: span 1;
    }

	.events {
		display:grid;
		grid-template-columns: repeat(2, 1fr);
		text-align:  center;
		background-color: yellow;
		
		padding: 1em;
		margin: 1em;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	}
	.events h2 {
		grid-column: 1/2;
		
		
		margin-top: 50px;
	}
	.events li {
		grid-column: 2/3;
		
		text-align: left;
	}

	/*********************/
	

	#contenedor-type-rent{
		display: grid;
		grid-template-areas:
		'photo1 photo2 photo3'
		'photo4 photo5 photo6';
		
	}
	#photo1 img,
	#photo2 img,
	#photo3 img,
	#photo4 img,
	#photo5 img,
	#photo6 img {
		border: rgb(10, 7, 7) solid 1px;
		width: 90%;
		display: block;
		margin: auto;
	}
	#contenedor-type-rent p {
		text-align: center;
	}

	#form {
        margin: -40px auto 20px auto;
    }
    #form-grid-box{
        display: grid;
        grid-template-areas: 
        'field1 field2'
        'field3 field3';
        max-width: 100%;

    }
    #field1{
        grid-area: field1;
        margin: 30px 10px 10px 30px;
        width: 60%;
    }
    #field1 label{
        max-width: 280px;
    }
    #field2{
        grid-area: field2;
        margin: 30px -30px 10px -135px;
        width: 100%;
    }
    #field2 label{
        min-width: 310px;
    }
    #field3{
        grid-area: field3;
        margin: 10px 30px;
        padding: 0 140px 20px 180px;
    }
   .space{
        max-width: 280px;
    }

    #form h2 {
        margin-top: -60px;
    }
    form input.submitBtn{
        display: block;
        width: 65%;
        margin: auto auto 10px 210px;
    }
    form label.top input,
	form label.top select,
	form label.top select.option {
    -webkit-appearance: none;
    display: block;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    max-width: 85%;
    background-color: white;
}
.maps{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.first{
	grid-column: 1/2;
	text-align: center;
}
.second{
	grid-column: 2/3;
	text-align: center;
}






} /*end medium */
